accinfo-process-api/src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <validation:config name="Validation_Configuration" doc:name="Validation Configuration"/>
    <flow name="checkstatus_process_apiFlow">
        <processor-chain doc:name="Processor Chain">
            <http:request config-ref="HTTP_Request_Configuration" path="/api/v1/system/domestic-account-consents/consent/{ConsentId}" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:uri-param paramName="ConsentId" value="#[flowVars.consentId]"/>
                </http:request-builder>
            </http:request>
            <http:request config-ref="HTTP_Request_Configuration" path="/api/v1/system/domestic-account-consents/account/{AccountId}" method="GET" doc:name="HTTP">
                <http:request-builder>
                    <http:uri-param paramName="ConsentId" value="#[flowVars.consentId]"/>
                </http:request-builder>
            </http:request>
        </processor-chain>
    </flow>
</mule>
